[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2020.12.5"
chardet = "==4.0.0"
click = "==7.1.2"
greenlet = "==1.1.0"
gunicorn = "==20.1.0"
idna = "==2.10"
importlib-metadata = "==4.0.1"
itsdangerous = "==1.1.0"
psycopg2-binary = "==2.8.6"
requests = "==2.25.1"
typing-extensions = "==3.10.0.0"
urllib3 = "==1.26.4"
zipp = "==3.4.1"
Flask = "==1.1.2"
Jinja2 = "==2.11.3"
MarkupSafe = "==1.1.1"
SQLAlchemy = "==1.4.14"
Werkzeug = "==1.0.1"

[dev-packages]

[requires]
python_version = "3.7"
