@import url('https://fonts.googleapis.com/css?family=Dosis');

* {
    font-family: "Dosis", sans-serif;
}

#tracker-view {
    /* display:flex; */
    flex-wrap: wrap;
    height: auto;
    width: auto;
    min-width: 250px;
    /* border:1px solid black; */
    position:relative;

}

.session-view {
    border: 1px dashed black;

    padding: 10px;
    margin: 10px;
    background: #7F7FD5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.session-view-notavail {
    border: 1px dashed black;
    padding: 10px;
    margin: 10px;
    background: #3E5151;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DECBA4, #3E5151);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DECBA4, #3E5151);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.center-info {
    text-align: center;
    /* border:1px solid green; */
    border-bottom: 2px solid red;
    ;

}

.center-view {
    margin: 20px 0;
    padding: 20px;
    border: 8px solid black;
    background: #FFEFBA;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.center_name {
    font-size: 2em;

}

.session-wrap {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


    /* padding:30px; */

}

.fee,
.center_address {
    font-size: 1.4em;
}

.vaccine-name {
    font-size: 2em;
}

.available {
    font-size: 1.8em;
    margin: 0 2%;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left:40px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }