body {
    background: #d9a7c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fffcdc, #d9a7c7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* border:1px solid green; */


}


#form_add_user {
    /* border:2px solid green; */
    padding: 10px;
    margin: 50px 0;


}

#registerBtn {
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    position: absolute;
    border-radius: 20px;
    height: 40px;
    width: 200px;
    color: aqua;

    left: 50%;

    margin-bottom: 50px;


}

#form_add_user #name,
#email,
#phone,
#age {
    display: flex;
    flex-direction: column;

}

.text-center {}

#selectby {}

.fields {
    display: flex !important;
    padding: 20px;

}

.fields label {
    margin-right: 20px;

}

#info{
    font-size:3em;
    font-family: 'Satisfy', cursive;
    font-size:2em;
    margin:20px 20px;
    border:2px solid red;
}