{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='updateUser.css') }}?v=1.0">
 
<title>Register-Cowin Slots Tracker</title>
{% endblock %}

{%block content %}
  <a href='https://cowin-track.herokuapp.com/'>
    <div id='mainTitle'>Cowin Slots Tracker</div>
  </a>
  <div id="div_add_user_main">

    <form action="/addUser" method="post" id="form_add_user">

      <div class="Wrapper">
        <div class="Input">
          <input type="text" required name="name" id="name" class="Input-text" placeholder="Your Name">
          <label for="name" class="Input-label">Name</label>
        </div>
      </div>
      <div class="Wrapper">
        <div class="Input">
          <input type="number" id="age" class="Input-text" placeholder="Your Age" name="age" required min="18"
            max="120">
          <label for="age" class="Input-label">Age</label>
        </div>
      </div>
      <div class="Wrapper">
        <div class="Input">
          <input type="email" id="email" name="email" required class="Input-text" placeholder="Your Email" {% if data.from=="main" %} value="{{data.email}}" {%endif%}>
          <label for="email" class="Input-label">Email</label>
        </div>
      </div>
      <div class="Wrapper">
        <div class="Input">
          <input type="text" name="phone" id="phone" class="Input-text" placeholder="Phone number [optional]">
          <label for="phone" class="Input-label">Phone</label>
        </div>
      </div>
      <div class="Wrapper">
        <div class="Input">
          <input type="number" min="1" max="2" name="dose_no" id="dose_no" class="Input-text" required placeholder="Dose No 1 or 2" value="1">
          <label for="dose_no" class="Input-label">Dose No.</label>
        </div>
      </div>

      <h2>Search Vaccination By </h3>
        <div class="mainSelectDiv">
          <div class="wrapper" align="center">
            <input type="radio" name="selectby" id="option-1" value="pincode" onclick="selectBy_F(0)">
            <input type="radio" name="selectby" id="option-2" value="district" checked onclick="selectBy_F(1)">
            <label for="option-1" class="option option-1">
              <div class="dot"></div>
              <span>Pincode</span>
            </label>
            <label for="option-2" class="option option-2">
              <div class="dot"></div>
              <span>District</span>
            </label>
          </div>
        </div>
        <div class="Wrapper" id="pinINs">
          <div class="Input">
            <input type="text" name="pincode" placeholder="Enter Pincode" id="pincode" minlength="6" maxlength="6"
              class="Input-text">
            <label for="pincode" class="Input-label">Pincode</label>
          </div>
        </div>





        <!-- Choose State -->
        <div id="state_list" > 
          <input class="chosen-value" type="text" value=""  autocomplete="off" placeholder="Select St&zwnj;at&zwnj;e [type to filter]">
          <ul class="value-list" >
        
            {%for id,name in data['states'].items() %}
            <li  onclick="populateDistricts({{id}})">{{name}}</li>
         
            {%endfor%}
            
          </ul>
        </div> 




        <!-- End State Choose -->

        <!--Choose District-->

        <div class="selectdiv">
          <label>
            <select id='insrtDist' onchange='changedDistrict()'>
              <!-- insrt Data Here -->
              <option value="0" selected disabled>Select Districts</option>
            </select>
          </label>
        </div>






        <!-- end choose District -->


        <Button type="submit" value="submit" id="registerBtn">Register</Button>

        <br>
        <br>
        <br>
        <input readonly hidden type="text" id="state_id" required name="state_id" value="">

        <input readonly hidden type="text" id="dist_id" required name="dist_id" value="">
        <input readonly hidden type="text" id="dist_name" required name="dist_name" value="">


    </form>


  </div>
  {% endblock %}



{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}?version=1.2"></script>

{% endblock %}