<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cowin Register</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}">
</head>

<body>

    <div id="div_add_user_main">

        <form action="/addUser" method="post" id="form_add_user">

            <label for="name">Name</label>
            <input type="text" required placeholder="Enter Name" name="name" id="name" value='default'>

            <label for="age">Age</label>
            <input type="number" name="age" required min="18" max="120" placeholder="Enter Age" id="age" value='25'>

            <label for="email">Email</label>
            <input type="email" name="email" required placeholder="Enter Email" id="email" value='default@df.com'>

            <label for="phone">Phone[Optional]</label>
            <input type="text" name="phone" placeholder="Enter Phone Number" id="phone" value='+12345' placeholder='Enter Phone Number (optional)'>

            <div id="selectby">
                <h3>SelectBy</h3>
                <label for="selectby_pin">Pincode</label>
                <input type="radio" id="selectby_pin" name="selectby" value="pincode" checked onclick='selectBy(0)'>

                <label for="selectby_dis">District</label>

                <input type="radio" id="selectby_dis" name="selectby" value="district" onclick='selectBy(1)'>

                <br>


                <label for="pincode" id="lblpin" >Pincode</label>
                <input type="text" name="pincode" placeholder="Enter Pincode" id="pincode" minlength="6" maxlength="6">

                <label for="states" id="lblstates" >State</label>

                <select name="states" id="states" onchange="populateDistricts()">
                    <option value="0">None</option>
                    {%for id,name in data['states'].items() %}
                    <option value='{{id}}'>{{name}}</option>
                    {%endfor%}
                </select>

                <!-- Now get District by States -->
                <br>
                <br>


                <div id="div_dist">
                    <!-- Insert District Here -->
                    <label for="districts" id="lbldist" >Select Districts</label>
                    <select name="districts" id="districts" onchange='changedDistrict()'>

                        <option value="0" name="0">None</option>

                    </select>
                </div>
                <br>
                <input readonly type="text" id="dist_id" name="dist_id" value="">
                <input readonly type="text" id="dist_name" name="dist_name" value="">

            </div>
            <Button type="submit" value="submit" id="registerBtn">Register</Button>
        </form>


    </div>
    <a href='https://github.com/authoritydmc/cowin_api_send_email'>Project Hosted at Github</a>
    <footer>
        <a href='https://github.com/authoritydmc'> <span>By Raj Dubey </span></a>
    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>

</body>

</html>