<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cowin Slots Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}">
  
  <style>@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&family=Satisfy&display=swap');
</style>  
</head>

<body>

  <a href='https://cowin-track.herokuapp.com/'>
    <div id='mainTitle'>Cowin Slots Tracker</div></a>

    
<div id="info">
    {{info}}
</div>

<a href="/">Goto Main</a>
  <br>
  <br>
  <br>
  {% if local==true %}
  <div class='links'>
    <a href="/users">Users</a>
          <a href='/pincodes'>pincodes</a>
          <a href='/sessions'>Sessions</a>
          <a href='/centers'>centers</a>
    <a href='/districts'>Districts</a>

{%endif%}

</div>
<br><br>

  <br>
  
  <p class="footer-heart" style="font-size: 1.4em;">
    Made with <g-emoji class="g-emoji" alias="heart" fallback-src="https://github.githubassets.com/images/icons/emoji/unicode/2764.png">
  <img class="emoji" alt="heart" height="20" width="20" src="https://github.githubassets.com/images/icons/emoji/unicode/2764.png"></g-emoji> by <a href="https://github.com/authoritydmc">Raj Dubey</a>
  </p>


  <a href='https://github.com/authoritydmc/cowin_api_send_email'>Project Hosted at Github</a>

    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>

</body>

</html>