{% extends "base.html" %}

{% block head %}
 
<title>Cowin Slots Tracker</title>
{% endblock %}

{% block content %}
<a href='https://cowin-track.herokuapp.com/'>
    <div id='mainTitle'>Cowin Slots Tracker</div></a>

<br>
<br>
<br>
<h2 align="center">Enter Your Email to Register/Login</h4>

<form action="/login" method="post">
<div class="Wrapper MAINEMAIL">
    <div class="Input" style="max-width: 350px;margin:auto auto;">
      <input type="email" id="email" name="email" required class="Input-text" placeholder="Your Email">
      <label for="email" class="Input-label">Email</label>
    <Button type="submit" value="submit" id="registerBtn" style="margin:30px auto;transform: translateX(38%);">Register/Login</Button>
</div>

    </div>
</form>  
{% endblock %}
