{% extends "base.html" %}

{% block head %}
 
<title>Error-User Exist Cowin Slots Tracker</title>
{% endblock %}

{%block content %}
  <a href='https://cowin-track.herokuapp.com/'>
    <div id='mainTitle'>Cowin Slots Tracker</div></a>



    
<div id="info" style="padding:40px">
  <form action="/login" method="post">
 There is already a User is registered with email: {{data['email']}}
<input hidden readonly name="email" id="email" value="{{data['email']}}">
 <br>
 <Button type="submit" value="submit" id="registerBtn" 
 style="margin:30px auto;transform: translateX(10%);">
 Send Mail to Login/Update</Button>
</form>

</div>

{% endblock %}

